__pycache__/
*.pyc
pfam_db/
defence_db_*/
genomes/
*.diff

# run outputs: <name>_YYYYMMDD_HHMMSS/
*_[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]_[0-9][0-9][0-9][0-9][0-9][0-9]/
*_[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]_[0-9][0-9][0-9][0-9][0-9][0-9]_runinfo.txt
